@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

/* slider css start */
#main_slider{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000116;
}

.slider {
    position: relative;
    background: #000116;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    height: 100vh;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info {
  position: absolute;
  color: #222;
  background-color: rgba(255,255,255,0.5);
  width: 60%;
  margin-top: 150px;
  margin-left: 250px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h1{
  font-size: 2em;
  font-weight: bold;
  color:#1f1841;
  font-size: 50px;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: bold;
  color:#000;
}

.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index:2;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index:2;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}

/* main slider css end */


/* button css start */

.bttnn {
  display: grid;
  font-family: Avenir, sans-serif;
  color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit; }

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease; }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 123, 0, 0.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease; }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform:capitalize;
    vertical-align: middle; }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease; }
  .cta:hover:before {
    width: 100%;
    background: rgba(255, 123, 0, 0.7);
  .cta:hover svg {
    transform: translateX(0); }
  .cta:active {
    transform: scale(0.96); }
    /* button css end */
